.container{
    margin:  0 auto;
    width: 1180px;
    padding: 0;
}
*{
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    position: relative;
}
.thanhhead{
    width: 1180px;
    height: 80px;
    background-color: black;
    position:fixed;
    z-index: 100;
    box-shadow: 0 0 10px gray;
}
.logoAP{
    width: 25%;
}
.logoAP img{
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}
.thanhtimkiem{
    background-color: white;
    width: 25%;
    height: 25px;
    left: 300px;
    top: -45px;
    position: relative;
    border-radius: 3px;
    padding-left: 3px;
    border: 1px solid gray;
}
.chutrongthanhtimkiem{
    line-height: 25px;
    text-align: left;
    color: grey;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.diachishop{
    width: 24%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    left: 300px;
    top: -40px;
}
a{
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.danhnhap a{
    color: #0bdb0b;
    position: absolute;
    left: 650px;
    top: 20px;
}
.danhky a{
    color: #0bdb0b;
    position: absolute;
    left: 780px;
    top: 20px;
}
.buildpc a{
    color: white;
    position: absolute;
    left: 900px;
    top: 20px;
}
.giohang a{
    color: white;
    position: absolute;
    left: 1050px;
    top: 20px;
}
.sdtshop a{
    color: white;
    position: absolute;
    left: 635px;
    bottom: 10px;
    font-size: 15px;
}
.lienhe a{
    color: white;
    position: absolute;
    left: 810px;
    bottom: 10px;
    font-size: 15px;
}
.congnghe a{
    color: white;
    position: absolute;
    left: 920px;
    bottom: 10px;
    font-size: 15px;
}.hangmoive a{
    color: white;
    position: absolute;
    left: 1030px;
    bottom: 10px;
    font-size: 15px;
}
.mauxanh a:hover{
    color:#0bdb0b ;
}
nav{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.thanhmenu{
    width: 100%;
    height: 40px;
    z-index: 30;
}
.danhmuc{
    position: relative;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.thanhmenu a{
    color: #2e2d2d;
}
.tragop a{
    position: absolute;
    top: 20px;
    left: 400px;
}
.baohanh a{
    position: absolute;
    top: 20px;
    left: 550px;
}
.giaohang a{
    position: absolute;
    top: 20px;
    left: 700px;
}
.khuyenmai a{
    position: absolute;
    top: 20px;
    left: 850px;
}
.cskhachhang a{
    position: absolute;
    top: 20px;
    left: 1000px;
}
.mauxanhlot a:hover{
    color:green ;
}
.circle{
    border: 1px solid gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    left: -40px;
    top: -10px;
    padding-left: 8px;
    padding-top: 7px;
}
.ti-money{
    position: absolute;
    left: 8px;
    top: 7px;
}
.ti-headphone{
    position:absolute;
    top: 8px;
    left: 8px;
}
.ti-truck{
    position:absolute;
    top: 6px;
    left: 8px;
}
.fa-bullhorn{
    position: absolute;
    left: 7px;
    top: 8px;
}
.fa-tools{
    position: absolute;
    left: 8px;
    top: 8px;
}
.thanhmenu>.danhmuc:hover .root{
    width: 100%;
    display: inline-block;
    position: relative;
    display: block;
}
.thanhmenu>.danhmuc:hover .themeleft{
    width: 100%;
    display: block;
}
.megaMenu{
    width: 30%;
    position: absolute;
    margin-right: 10px;
    text-align: left;
    background-color: white;
    z-index: 20;
}
ul{
    list-style: none;
}
.root{
    display:none ;

}
.ti-angle-right{
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}
.megaMenu a{
    color: black;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    line-height: 50px;
    padding-bottom: 20px;
    position: relative;
    top: -15px;
}
ul.menuMega > li{
    list-style: none;
    float: right;
    line-height: 30px;
}
.megaMenu a:hover{
    color: green;
}
ul.menuChild{
    width: 890px;
    min-height: 38px;
    background-color:white;
    display: none;
    position: absolute;
    left: 295px;
    z-index: 1;
    list-style: none;
    top: 5px;
}
ul.menuChild li {
    list-style: none;
}
ul.menuChild li a{
    color: black;
    text-decoration: none;
    line-height: 40px;
    list-style: none;
}
ul.root > li:hover ul.menuChild{
    display:block;
    visibility: visible;
    list-style: none;
}
.themeleft{
    position: absolute;
    width: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 43px;
    left: 10px;
    display: none;
    z-index: 20;
}
.circle1{
    border: 1px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}
article{
    position: relative;
    min-height:560px;
}
.left{
    width: calc(70% - 10px);
    min-height: 400px;
    position: relative;
    float: left;
    margin-right: 10px;
}
.left table{
    outline: none ;
    border-collapse: collapse;
    border: 1px solid gray;
    margin: 0;
    padding:0;
}
.right{
    position: relative;
    float: left;
    width:30%;
    min-height: 400px;
}
.left h4{
    border-bottom: 1px black solid;
    padding-bottom: 15px;
    font-weight: 200;
    font-size: 18px;
    font-family: sans-serif;
}
.left table{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    width: 100%;
}
.left table td{
    text-align: center;
}
.left img{
    width:90px;
    height: 90px;
    overflow: hidden;
}
.left h5{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}
.left textarea{
    position: relative;
    top: -30px;
}
.left a button{
    background-color:forestgreen;
    color:white;
    outline:none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    font-family: sans-serif;
    border: none;
    
}
.right .box-thanhtoan{
    width: 95%;
    margin-left: 8px;
    padding: 10px;
    border: 1px solid gray;
}
.box-thanhtoan .thanhtoan-left{
    float: left;
}
.box-thanhtoan .thanhtoan-right{
    float: right;
}
.box-thanhtoan button{
    width: 95%;
    margin-left: 8px;
    height: 40px;
    border-radius:5px;
    outline: none;
    border:none;
    background-color: forestgreen;
    color: yellow;
    font-size: 19px;
}
.box-thanhtoan p {
    font-family: sans-serif;
    font-size: 16px;
    text-align: right;
}
.right h4{
    border-bottom: 1px black solid;
    padding-bottom: 15px;
    font-weight: 200;
    font-size: 18px;
    font-family: sans-serif;
}
.box-bot .bot-p{
    border: 1px solid gray;
    font-size: 14px;
    padding: 0;
    font-family: sans-serif;
    padding-left: 10px;
}
.thanhfooter{
    background-color: #1c1c1c;
    width: 100%;
    height: 450px;
    position: relative;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif !important; 

}
.thanhfooter .boxleft{
    width: 33.33%;
    margin-right: 5px;
    float: left;
    position: absolute;
    padding-top: 20px;
    padding-left: 5px;
    color: #f9f9f9;
    font-size: 13px;
}
.thanhfooter .boxcenter{
    width: 33.33%;
    position: absolute;
    left:393px ;
    height: 400px;
    color: #f9f9f9;
    padding-left : 10px; ;
}
.thanhfooter .boxright1{
    width: 33.4%;
    position: absolute;
    float: left;
    left:786px;
    padding-left: 20px;
}
.boxleft img{
    width: 70%;
}
.truso{
    font-size: 11px;
}
.apshop{
    font-weight: 600;
    font-size: 14px;
}
.thanhfooter a{
    font-size: 14px;
    line-height: 30px;
    color: #f9f9f9;
    font-weight: 300;
}
.time{
    color: #0bdb0b;
    font-size: 12px;
    font-weight: 200;
}
.boxleft h1{
    font-size: 18px;
    font-weight: 300;
}
.boxcenter h2{
    font-size: 18px;
    font-weight: 300;
}
.chungnhan1 img{
    width: 40%;
}
.chungnhan2 img{
    width: 45%;
    position: absolute;
    left: 180px;
    bottom: 32px;
}
.form-email{
    margin-top: 20px;
    width: 280px;
    height: 35px;
    outline: none;
}
.button-gui{
    background-color: #01ff01; 
    outline: none;
    width: 50px;
    height: 35px;
    position: relative;
    left: -5px;
    border: 1px solid gray;
}
.boxright1 h2{
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.map img{
    width: 80%;
}
.copyright{
    color: #838383;
    position: relative;
    font-weight: 500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    text-align: center;
    top: -40px;
}